body {
  background-color: #087a5c;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 2%;
  padding: 2%;
  /* color: #633f3f; */
}

h1 {
  font-family: "Junge", serif;
  color: blue;
  text-align: center;
  /* font-size: 1rem; */
  /* font-weight: bold; */
}
h3 {
  border-bottom: 1px solid aquamarine;
  padding: 1%;
}
button {
  background-color: rgb(4, 4, 24);
  width: 200px;
  height: 50px;
  color: white;
  font-weight: bold;
  margin-left: 2%;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
}
button:hover,
button.active {
  color: blue;
  background-color: white;
  border: 1px solid rgb(255, 157, 0);
}
table {
  margin-top: 20px;
  margin-left: 2%;
  border: 1px solid blue;
  width: 650px;
  border-radius: 20px;
}
tr:nth-child(even) {
  background-color: cornflowerblue;
  color: white;
}

th {
  padding: 3%;
  padding-bottom: 1%;
  border-bottom: 1px solid blue;
}

td {
  padding: 3%;
  padding-bottom: 1%;
}
div {
  border-radius: 20px;
  border: 1px solid blue;
  margin: 1%;
  padding: 1%;
  /* max-width:3px" */
}
hr {
  height: 1px !important;
  background-color: #cfa51b;

  opacity: 1 !important;
}

span {
  color: #633f3f;
}
