@import url("https://fonts.googleapis.com/css2?family=Junge&display=swap");

/* Estilos Generales */

/* header {
  background-color: #0e0703;
  font-family: "Junge", serif;
  font-size: 3rem;
  /* font-weight: bold; 
} */
body {
  background-color: #087a5c;
  /* color: #633f3f; */
}

h1 {
  font-family: "Junge", serif;
  /* font-size: 1rem; */
  /* font-weight: bold; */
}
div {
  border-radius: 20px;
  border: 1px solid blue;
  margin: 1%;
  padding: 1%;
  /* max-width:3px" */
}
hr {
  height: 1px !important;
  background-color: #cfa51b;

  opacity: 1 !important;
}

span {
  color: #633f3f;
}

/* Media Queries */

@media (min-width: 320px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  /* .card img {
    width: 50%;
    height: 50%;
  } */
}
